/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------Global------- ----------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) 
{ 
    /*Taille texte*/
    p 
    { 
        font-size : 10px; 
    } 

    h2
    {
        font-size : 14px;
    }
    
    /*------------------------------------------------------------------*/

    /*Logo jarditou*/

    .logo_jarditou {
        width: 10em;
        max-width: 70%;
        height: auto;
    }

    /*------------------------------------------------------------------*/

    /* Texte tout le jardin*/

    .toutlejardin 
    {
    font-size: 8pt;
    margin-bottom : 15pt;
    margin-top : 15pt; 
    margin-left: 8%;
    
    }

    li {
        list-style: none;
        display : block;
    }

    /*------------------------------------------------------------------*/
	
	/* Largeur  Body */

	body {
		margin: 1% 3% 1% 3%;
    }
    
    /*Taille auto pour image et tableux*/

    img,
	table,
    td,
    tr,
    tbody {
		max-width: 100%;
	}
    
    img {
		height: auto;
	}
  
  
    
   
    
    /*-----------------------------------------------------------------------------------------------*/
    /*-----------------------------------Application Index/Accueil-----------------------------------*/
    /*-----------------------------------------------------------------------------------------------*/
    
    /*Disparition colone*/

     .colonne 
     {
         display:none
     }
 
     a {
         font-size : 10px;
     }

     /*------------------------------------------------------------------*/
     /*Texte accueil taille*/
     #accueil 
    {
        font-size :18px
    }

} 



